#root {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: baseline;
  padding: 2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  width: 15rem;

  .menu-item {
    padding-bottom: 1rem;
    &.active {
      color: red;
    }
  }
}
